@import '../../styles/global_scss';

.outercontainer {
    //created this outer div
    //instead of putting this flex-grow: 1 on
    //inner div (class .container) even though
    //this is not providing a background colour or image

    flex-grow: 1;


}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;

    margin: 0 auto;

    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;

    > *:first-child {
        margin-bottom: 0.94rem;
    }

    > *:nth-child(2) {
        margin-bottom: 0.94rem;
    }

    //don't like how these behave,
    //media queries are in order
    //padding-left: min(2.25rem, 100vw - $bp-m);
    //padding-right: min(2.25rem, 100vw - $bp-m);


    @media screen and (min-width: $bp-m) {
        padding-left: 2.25rem;
        padding-right: 2.25rem;
        padding-top: 2.25rem;


        max-width: $content-maxwidth;

        > *:first-child {
            margin-bottom: 0.94rem;
        }
        > *:nth-child(2) {
            margin-bottom: 2.25rem;
        }
    }
}

